name: build

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out this repo
        uses: actions/checkout@v4

      - name: Install bootstrap Go (for tooling)
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'